.odontograma {
  display: grid;
  grid-template-columns: repeat(8, 55px);
  gap: 10px;
  margin-bottom: 15px;
  justify-content: center;
}

.dente {
  width: 55px;
  height: 55px;
  background: #edf2f7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #cbd5e0;
}

.dente:hover {
  background: #2d3748;
  color: white;
}

#listaItensOrcamento li {
  display: flex;
  justify-content: space-between;
}
